[DEFAULT]
LOG_LEVEL       = logging.INFO

[DISCORD]
token           =
channel         =
message         = :red_circle: {user} ist live!
leet_channel    =

[TWITCH]
client_id       =
client_secret   =
streams         =