[DEFAULT]
LOG_LEVEL       = logging.INFO

[DISCORD]
token           =
channel         =
message         = "\U0001F534 Ich bin live!"

[TWITCH]
name            =
client_id       =
client_secret   =

[DIABLO]
server          =
channel         =
emoji           =
alerts          = False
minutes         = 10

[GIPHY]
apikey          =

[GIFFUN]
example         = example giphy search