[DEFAULT]
LOG_LEVEL       = logging.INFO
ENABLE_LOGGING  = true

[DISCORD]
token           =
channel         =
message         = :red_circle: {user} ist live!
leet_channel    =
leet_user       =
logging         = false

[TWITCH]
client_id       =
client_secret   =
streams         =
